/SaldoInsuficienteException.class
/PagamentoRecusadoException.class
/NenhumMotoristaDisponivelException.class
/EstadoInvalidoDaCorridaException.class
/PassageiroPendenteException.class
/MotoristaInvalidoException.class
