/Avaliacao.class
/Categoria.class
/Comum.class
/Corrida.class
/Luxo.class
/MetodoPagamento.class
/Motorista.class
/PagamentoCartao.class
/PagamentoDinheiro.class
/PagamentoPix.class
/Passageiro.class
/StatusCorrida.class
/StatusMotorista.class
/Usuario.class
/Veiculo.class
